# Python environments
.venv
.env
.venv/
.env/
venv/
env/

# Datasets
*.zip
datasets/can/*.zip
datasets/init/Reviews.csv
datasets/cleaned/Reviews.csv
datasets/transformed/Reviews.csv

# .ipynb
.ipynb_checkpoints

# cpython
.pyc
*.pyc
