# Python environments
.venv
.env
.venv/
.env/
venv/
env/

# Datasets
*.zip
*.csv
# datasets/can/*.zip
# datasets/init/*.csv
# datasets/cleaned/*.csv
# datasets/transformed/*.csv

# .ipynb
.ipynb_checkpoints
